*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    border-top: 4px solid rgb(0, 215, 130);
    /* deixa o nav em formato flex e deixa lado-a-lado os elementos dentro dele */
    display: flex;
    /* centraliza na horizontal */
    justify-content: space-between;
    /* centraliza na vertical */
    align-items: center;

    /* salto entre cada conteúdo */
    gap: 20px;
    /* altura */
    height: 60px;
    /* cor do plano de fundo */
    background-color: rgb(240, 235, 235);
    padding: 0px 20px;
    
}

nav div{
    display: flex;
    align-items: center;
}

.cabeca{
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}
#logo{
    height: 40px;
}
.icons{
    height: 30px;
    
}
.caixa{
    width: 33%;
    display: flex;
    justify-content: center;
}
.um{
    gap: 15px;
}
.tres{
    justify-content: end;
    gap: 15px;
}
#chata{
    height: 600px;
    
}
